GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:postgres@localhost:5432/filmmash_db?sslmode=disable
GOOSE_MIGRATION_DIR=migrations

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB_NAME=filmmash_db

TMDB_API_TOKEN=tmdb-api-token-here
