{{ define "duelCard" }}
    <div id="film-{{ .FilmA.Id }}" 
        hx-post="/ui/duel/{{ .Id }}/result"
        hx-vals='{"winner": {{ .FilmA.Id }}}' 
        hx-target="#duel" 
        hx-swap="innerHTML">
        {{ template "filmCard" .FilmA }}
    </div>
    <div id="film-{{ .FilmB.Id }}" 
        hx-post="/ui/duel/{{ .Id }}/result"
        hx-vals='{"winner": {{ .FilmB.Id }}}' 
        hx-target="#duel" 
        hx-swap="innerHTML">
        {{ template "filmCard" .FilmB }}
    </div>
{{ end }}